<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-8 pt-5">
      <h2>About</h2>

      <h4>The challenge</h4>
      <p>The main thought I faced over the time I worked on this challenge is that we can always do something better. Every time I changed a file, I knew it could be changed in a different and better way. And apparently when we try to improve our work, we also improve ourselves.</p>

      <h4>Me</h4>
      <p>When I was young, I used to say that I would become an inventor. Even thought I didn't really know what it was like to be an inventor, in my heart I used to believe that one day I would be able to create something that didn't exist and that it would be useful. Today, I can write code and I know that with this power I can be the inventor I dreamed to be.</p>
    </div>
  </div>
</div>
