html,
body,
body > #root {
  height: 100%;
  font-family: 'Montserrat';
}

.main {
  display: flex;
  min-height: calc(100% - 3.5rem - 3.5rem); // page - header - footer

  > div { flex: 1; }
}

.link-unstyled, .link-unstyled:hover {
  color: inherit;
  text-decoration: inherit;
}
